{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <div class="row justify-content-center py-4">
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <div class="profile-image-main d-block mx-auto">
                        <img src="{{profile.profile_image.url}}" alt="">
                    </div>
                    <h2 class="text-center my-2">{{profile.name}}</h2>
                    <p class="text-center text-muted"><strong>{{profile.short_bio}}</strong></p>
                    <p class="text-center text-muted lead">Based in {{profile.location}}</p>
                    <div class="social-media-links text-center">
                        {% if profile.social_github %}
                            <a href="{{profile.social_github}}" class="fs-2"><i class="bi bi-github"></i></a>
                        {% endif %}
                        {% if profile.social_twitter %}
                            <a href="{{profile.social_twitter}}" class="fs-2 ms-2"><i class="bi bi-twitter"></i></a>
                        {% endif %}                      
                        {% if profile.social_linkedin %}
                            <a href="{{profile.social_linkedin}}" class="fs-2 ms-2"><i class="bi bi-linkedin"></i></a>
                        {% endif %}
                        {% if profile.social_youtube %}
                            <a href="{{profile.social_youtube}}" class="fs-2 ms-2"><i class="bi bi-youtube"></i></a>
                        {% endif %}
                        {% if profile.social_website %}
                            <a href="{{profile.social_website}}" class="fs-2 ms-2"><i class="bi bi-globe"></i></a>
                        {% endif %}                       
                    </div>
                    <a href="{% url 'edit-account' %}" class="btn btn-sm btn-outline-info d-block mx-auto mt-4"><i class="bi bi-pencil-square"></i> Edit Profile</a>     
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <h3>ABOUT ME</h3>
            <p class="text-muted">{{profile.bio}}</p>

            <div class="skills_view d-flex justify-content-between align-items-center mt-5">
                <h3>SKILLS</h3>
                <a href="{% url 'create-skill' %}" class="btn btn-sm btn-outline-secondary"><i class="bi bi-plus-lg"></i> Add Skill</a>
            </div>
            
            {% for skill in skills %}
                <div class="row mt-3">
                    <div class="col-md-10">
                        <h5 class="text-muted">{{skill.name}}</h5>
                        <p class="text-muted">{{skill.description}}</p>
                    </div>
                    <div class="col-md-2 d-flex justify-content-end align-items-center">
                        <a href="{% url 'update-skill' skill.id %}" class="btn btn-sm btn-info me-2"><i class="bi bi-pencil-square"></i></a>
                        <a href="{% url 'delete-skill' skill.id %}" class="btn btn-sm btn-danger"><i class="bi bi-trash"></i></a>
                    </div>
                </div>
            {% endfor %}

            <div class="skills_view d-flex justify-content-between align-items-center mt-5">
                <h3>PROJECTS</h3>
                <a href="{% url 'create-project' %}" class="btn btn-sm btn-outline-secondary"><i class="bi bi-plus-lg"></i> Add Project</a>
            </div>
            <div class="row mt-4">
                <div class="col-md-12">
                  <div class="card">
                    <ul class="list-group list-group-flush">
                        {% for project in profile.project_set.all %}
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-md-2 d-block mx-auto my-auto">
                                        <a href="{% url 'single-project' project.id %}">
                                            <img src="{{project.featured_image.url}}" class="img-fluid" alt="{{project.title}}">
                                        </a> 
                                    </div>
                                    <div class="col-md-8 d-block mx-auto my-auto">
                                        <h5><a href="{% url 'single-project' project.id %}" class="text-decoration-none text-reset">{{project.title}}</a></h5>
                                        <p>{{project.description|slice:"150"}}</p>
                                    </div>
                                    <div class="col-md-2 d-flex justify-content-end align-items-center">
                                        <a href="{% url 'update-project' project.id %}" class="btn btn-sm btn-info me-2"><i class="bi bi-pencil-square"></i></a>
                                        <a href="{% url 'delete-project' project.id %}" class="btn btn-sm btn-danger"><i class="bi bi-trash"></i></a>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>        
                  </div>
                </div>
              </div>
        </div>
    </div>
  </div>
{% endblock content %}