{% extends "base.html" %}

{% block content %}
  <div class="container">
    <div class="row justify-content-center py-5">
      <div class="col-md-8">
        <div class="card">
          <div class="card-body">
            <h3 class="text-center">UPDATE PROFILE</h3>
            <form action="{% url 'edit-account' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}
                  <div class="mb-3">
                    <label class="form-label">{{field.label}}</label>
                    {{field}}
                  </div>
                {% endfor %}
                <input type="submit" value="Submit" class="btn btn-secondary">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}