{% extends "base.html" %}
{% load static %}

{% block content %}
  <div class="container mt-4">
    <div class="row justify-content-center py-4">
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <div class="profile-image-main d-block mx-auto">
                        <img src="{{profile.profile_image.url}}" alt="">
                    </div>
                    <h2 class="text-center my-2">{{profile.name}}</h2>
                    <p class="text-center text-muted"><strong>{{profile.short_bio}}</strong></p>
                    <p class="text-center text-muted lead">Based in {{profile.location}}</p>
                    <div class="social-media-links text-center">
                        {% if profile.social_github %}
                            <a href="{{profile.social_github}}" class="fs-2"><i class="bi bi-github"></i></a>
                        {% endif %}
                        {% if profile.social_twitter %}
                            <a href="{{profile.social_twitter}}" class="fs-2 ms-2"><i class="bi bi-twitter"></i></a>
                        {% endif %}                      
                        {% if profile.social_linkedin %}
                            <a href="{{profile.social_linkedin}}" class="fs-2 ms-2"><i class="bi bi-linkedin"></i></a>
                        {% endif %}
                        {% if profile.social_youtube %}
                            <a href="{{profile.social_youtube}}" class="fs-2 ms-2"><i class="bi bi-youtube"></i></a>
                        {% endif %}
                        {% if profile.social_website %}
                            <a href="{{profile.social_website}}" class="fs-2 ms-2"><i class="bi bi-globe"></i></a>
                        {% endif %}                       
                    </div>
                    {% if request.user.profile.id != profile.id %}
                        <a href="{% url 'send-message' profile.id %}" class="btn btn-lg btn-success d-block mx-auto mt-4">Send Message</a>      
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <h3>ABOUT ME</h3>
            <p class="text-muted">{{profile.bio}}</p>

            <h3 class="mt-5">SKILLS</h3>
            {% for skill in top_skills %}
                <div class="row mt-3">
                    <div class="col-md-2">
                        <h5 class="text-muted">{{skill.name}}</h5>
                    </div>
                    <div class="col-md-10">
                        <p class="text-muted">{{skill.description}}</p>
                    </div>
                </div>
            {% endfor %}
            
            <h4 class="mt-4 text-muted"><strong>OTHER SKILLS</strong></h4>
            <h5 class="mt-2">
                {% for skill in other_skills %}
                    <span class="tag badge rounded-pill bg-secondary my-1">{{skill.name}}</span>
                {% endfor %}
            </h5>

            <h3 class="mt-5">PROJECTS</h3>
            <div class="row mt-4">
                {% for project in profile.project_set.all %}
                <div class="col-md-6 my-2">
                  <div class="card">
                    <a href="{% url 'single-project' project.id %}">
                      <img src="{{project.featured_image.url}}" class="card-img-top" alt="{{project.title}}">
                    </a>          
                    <div class="card-body">
                      <h5 class="card-title">{{project.title}}</h5>
                      <h6 class="card-subtitle mb-2 text-muted">By {{project.owner.name}}</h6>
                      <p class="card-text">30% Positive Feedback ({{project.vote_total}} Vote{{project.vote_total|pluralize:"s"}})</p>
                      <p class="card-text">
                        {% for tag in project.tags.all %}
                          <span class="badge bg-info">{{tag}}</span>
                        {% endfor %}
                      </p>
                    </div>
                  </div>
                </div>
                {% endfor %}
              </div>
        </div>
    </div>
  </div>
{% endblock content %}