{% extends "base.html" %}

{% block content %}
  <main class="project">
    <section class="hero-section p-5">
      <div class="container">
        <h2 class="text-center pb-4 display-5">SEARCH FOR <strong>PROJECTS</strong></h2>
        <form action="{% url 'projects' %}" method="GET">
          <div class="row justify-content-center">
            <div class="col-md-5">
              <input type="text" name="search_query" class="form-control" placeholder="Search by Project Title or Stack" value="{{search_query}}">
            </div>
            <div class="col-md-1">
              <div class="d-grid">
                <button type="submit" class="btn btn-secondary">Search</button>
              </div>           
            </div>
          </div>
        </form>
      </div>
    </section>

    <section class="project-list p-5">
      <div class="container">
        <div class="row">
          {% for project in projects %}
          <div class="col-md-4 my-3">
            <div class="card h-100">
              <a href="{% url 'single-project' project.id %}">
                <img src="{{project.featured_image.url}}" class="card-img-top" alt="{{project.title}}">
              </a>          
              <div class="card-body">
                <h5 class="card-title">{{project.title}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">By <a href="{% url 'user-profile' project.owner.id %}" class="text-decoration-none text-info">{{project.owner.name}}</a></h6>
                <p class="card-text">30% Positive Feedback ({{project.vote_total}} Vote{{project.vote_total|pluralize:"s"}})</p>
                <p class="card-text">
                  {% for tag in project.tags.all %}
                    <span class="badge bg-info">{{tag}}</span>
                  {% endfor %}
                </p>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        <div class="row">
          <div class="col-md-12">
            <ul class="pagination">
              {% if projects.has_previous %}
                <li {% if projects.number == 1 %} class="page-item active" {% endif %}>
                  <a href="?page=1" class="page-link">1</a>
                </li>
                <li class="page-item">
                  <a href="?page={{projects.previous_page_number}}" class="page-link">&laquo; Previous</a>
                </li>
              {% endif %}
                <li class="page-item active">
                  <a href="" class="page-link">{{projects.number}}</a>
                </li>
              {% if projects.has_next %}
                <li class="page-item">
                  <a href="?page={{projects.next_page_number}}" class="page-link">Next &raquo;</a>
                </li>
                <li class="page-item">
                  <a href="?page={{projects.paginator.num_pages}}" class="page-link">{{projects.paginator.num_pages}}</a>
                </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </div>
    </section>
  </main>
{% endblock content %}