{% extends "base.html" %}

{% block content %}
  <main class="project">
    <section class="hero-section p-5">
      <div class="container">
        <h2 class="text-center pb-4 display-5">SEARCH FOR <strong>PROJECTS</strong></h2>
        <form action="{% url 'projects' %}" method="GET">
          <div class="row justify-content-center">
            <div class="col-md-5">
              <input type="text" name="search_query" class="form-control" placeholder="Search by Project Title or Stack" value="{{search_query}}">
            </div>
            <div class="col-md-1">
              <div class="d-grid">
                <button type="submit" class="btn btn-secondary">Search</button>
              </div>           
            </div>
          </div>
        </form>
      </div>
    </section>

    <section class="project-list p-5">
      <div class="container">
        <div class="row">
          {% for project in projects %}
          <div class="col-md-4 my-3">
            <div class="card h-100">
              <a href="{% url 'single-project' project.id %}">
                <img src="{{project.featured_image.url}}" class="card-img-top" alt="{{project.title}}">
              </a>          
              <div class="card-body">
                <h5 class="card-title">{{project.title}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">By <a href="{% url 'user-profile' project.owner.id %}" class="text-decoration-none text-info">{{project.owner.name}}</a></h6>
                <p class="card-text">30% Positive Feedback ({{project.vote_total}} Vote{{project.vote_total|pluralize:"s"}})</p>
                <p class="card-text">
                  {% for tag in project.tags.all %}
                    <span class="badge bg-info">{{tag}}</span>
                  {% endfor %}
                </p>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        {% include "pagination.html" with queryset=projects search_query=search_query %}
      </div>
    </section>
  </main>
{% endblock content %}