{% extends "base.html" %}

{% load static %}

{% block content %}
  <div class="container">
    <div class="row justify-content-center my-5">
      <div class="col-md-3">
        <h3 class="text-muted">TOOLS & STACKS</h3>
        <h4 class="mt-4">
          {% for tag in tags %}
            <span class="tag badge rounded-pill bg-info my-1">{{tag}}</span>
          {% endfor %}
        </h4>
        <div class="mt-4">
          {% if project.source_link %}
            <a href="{{project.source_link}}" target="_blank" class="btn btn-sm btn-outline-secondary"><i class="bi bi-arrow-up-right-circle"></i> Source Code</a>
          {% endif %}
          
          {% if project.demo_link %}
            <a href="{{project.demo_link}}" target="_blank" class="btn btn-sm btn-outline-success"><i class="bi bi-arrow-up-right-circle"></i> Demo</a>
          {% endif %}
        </div>
      </div>
      <div class="col-md-6">
        <img src="{{project.featured_image.url}}" class="img-fluid rounded mx-auto d-block">
        <div class="text-info mt-3"><a class="text-decoration-none text-reset" href="{% url 'user-profile' project.owner.id %}">{{project.owner.name}}</a></div>
        <h3 class="mt-1"><strong>{{project.title}}</strong></h3>
        <h4 class="text-muted mt-4">ABOUT THE PROJECT</h4>
        <p class="mb-4">{{project.description}}</p>
        <hr>
        <h4 class="text-muted mt-3">FEEDBACK</h4>
        <p class="lead text-muted">{{project.vote_ratio}}% Positive Feedback ({{project.vote_total}} Vote{{project.vote_total|pluralize:'s'}})</p>
        {% if request.user.profile.id in project.reviewers %}
          <p class="lead">You have already submitted your review.</p>
        {% elif request.user.profile == project.owner %}
          <p></p>
        {% elif request.user.is_authenticated %}
          <form action="{% url 'single-project' project.id %}" method="POST" class="mt-4">
            {% csrf_token %}
            {% for field in form %}
              <div class="mb-3">
                <label for="" class="form-label">{{field.label}}</label>
                {{field}}
              </div>
            {% endfor %}
            <button type="submit" class="btn btn-secondary">Add Review</button>
          </form>
        {% else %}
          <p class="lead">Please <a href="{% url 'login' %}?next={{request.path}}">login</a> to submit you review.</p>
        {% endif %}
        {% if reviews %}
          {% for review in reviews %}
            <div class="row mt-4">
              <div class="col-md-2">
                <img src="{{review.owner.profile_image.url}}" alt="" class="img-fluid d-block mx-auto rounded-circle">
              </div>
              <div class="col-md-10">
                <h5 class="text-info"><a class="text-decoration-none text-reset" href="{% url 'user-profile' review.owner.id %}">{{review.owner.name}}</a></h5>
                {% if review.body %}
                  <p class="text-muted">{{review.body}}</p>
                {% elif review.value == "up" %}
                  <p class="text-muted">{{review.owner.name}} liked the project.</p>
                {% else %}
                  <p class="text-muted">{{review.owner.name}} down voted the project.</p>
                {% endif %}
                
              </div>
            </div>
          {% endfor %}
        {% else %}
          <p class="lead mt-3">No reviews for this project.</p>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock content %}