{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}
  <div class="container">
      <div class="row py-5">
          <div class="col-md-12">
              <h3>PASSWORD RESET</h3>
              <p>Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.</p>
              <form method="POST">
                  {% csrf_token %}
                  {{form|crispy}}
                  <input type="submit" value="Submit" class="btn btn-secondary">
              </form>
          </div>
      </div>
  </div>
{% endblock content %}