/* @import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
} */

body {
    background: #f2f5f7 !important;
}

.navbar {
    z-index: 2;
}

.hero-section {
    background: #dae4e7;
}

.project-list {
    background: #f2f5f7;
}

.tag {
    font-weight: 500 !important;
}

.form-tags {
    margin-left: 0;
    padding-left: 0;
    list-style-type: none;
    display: flex;
}

.form-tags li {
    margin-right: 12px;
}

.form-tags li label {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-tags li label input {
    margin-right: 5px;
}

.profile-image {
    width: 100px;
    border-radius: 50%;
    overflow: hidden;
    border: 4px solid #abd2d8;
}

.profile-image img {
    width: 100%;
}

.profile-image-main {
    width: 200px;
    border-radius: 50%;
    overflow: hidden;
    border: 4px solid #abd2d8;
}

.profile-image-main img {
    width: 100%;
}

.social-media-links a {
    color: #65adb8;
}

.profile-info {
    text-align: justify;
}

.auth {
    /* background: transparent !important; */
    /* height: 95vh; */
    z-index: 1;
    position: relative;
}

.auth::after {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* bottom: 0;
    right: 0; */
    content: "";
    opacity: 0.2;
    background-image: url("../images/patterns.jpg");
    background-size: 500px;
}

.invalid-feedback {
    display: block !important;
}

.alert {
    z-index: 2;
}
